@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.home-container {
    position: relative;
}

.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background-color: black;
}

.home-img {
    position: absolute; 
    opacity: 0.5;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.home-title {
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 13%;
    margin-left: 10%;
    margin-right: 10%;
}

.home-title h1 {
    color: rgb(205, 201, 201);
    font-weight: 100;
}

.home-content {
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.home-content h1 {
    font-size: 65px;
    font-weight: 800;
    color: #fff;
}

.home-content p {
    font-size: 27px;
    color: #fff;
    font-weight: 100;
    margin-top: 5px;
}

.home-content .home-btn {
    position: inherit;
    padding: 16px 40px;
    margin-top: 80px;
    border-radius: 50px;
    border: none;
    background-color: #09bef0;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.home-content .home-btn:hover {
    background-color: #0d728e;
}

@media screen and (max-width: 960px) {

    .home-img {
        min-width: 100vw;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh; 
    }

    .home-title {
        margin-top: 25%;
        font-size: 10px;
    }

    .home-content h1 {
        margin-top: 20%;
        font-size: 40px;
    }

    .home-content p {
        margin-top: 10%;
        font-size: 16px;
    }

    .home-content .home-btn {
        margin-top: 10%;
        padding: 8px 20px;
        font-size: 15px;
    }
}
